.navbutton {
    background-color: transparent;
    color: white;
    border: 0px transparent;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    @media (max-width: 600px) {
        font-size: 1.75rem;
    }
}

.navbutton::after {
    content: "";
    position: absolute;
    left: 0;
    border-radius: 0.5rem;
    bottom: -5px;
    height: 3px;
    background-color: white;
    width: 0%;
    transition: 0.25s width;
}

.navbutton:hover::after {
    width: 100%;
}
.active::after {
    width: 100%;
}